body {
    background: #000428;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #063e6e 0%,#0a3255 100%);
}
header {
    margin: 30px 0;
}
.contenido {
    padding:20px;
}
.contenido-principal {
    background-color: rgb(245, 245, 245);
    padding: 30px;
    border-radius: 20px;
}
.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}
.presupuesto p span {
    font-weight: normal;
}
#gastos {
    margin-bottom: 30px;
}
h1{
    font-weight: bold;
    color: white;
}
h2 {
    font-weight: bolder;
    color:#004e92;
    font-size: 22px;
    margin-bottom:30px;
}